@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;700&family=Poppins:wght@400;500;700;900&family=Ubuntu&display=swap");
body {
  font-family: "Poppins", sans-serif;
}
.dream-bg-success {
  background-color: #fceae8;
}
.dream-btn-buy-now {
  color: white;
  background-image: linear-gradient(to bottom, #ff589b 0%, #ff136f 100%);
  border: none;
  border-radius: 8px;
  padding: 9px 25px;
}
.package-btn-bg {
  background-color: #f496d227;
}

.hot-card-border-radius {
  border-radius: 26px;
}

.hot-card {
  transform: scale(1.08);
  height: 480px;
}
.text-decoration-none {
  text-decoration: none;
}

.line-height {
  line-height: 20px;
}
.footer-bg {
  background-color: rgba(11, 13, 23, 1);
}
.fa-google-play {
  color: white;
}
